{
  "parser": "babel-eslint",
  "rules": {
    "indent": [
      2,
      2,
      {
        "SwitchCase": 1
      }
    ],
    "quotes": [
      2,
      "single"
    ],
    "linebreak-style": [
      2,
      "unix"
    ],
    "no-unused-vars": 2,
    "semi": [
      2,
      "always"
    ],
    "react/display-name": 0,
    "react/prop-types": [2, {"ignore": ["children"]}],
    "react/jsx-wrap-multilines": 2,
  },
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "ecmaFeatures": {
    "jsx": true,
    "experimentalObjectRestSpread": true
  },
  "globals": {
    "document": true,
    "window": true
  },
  "plugins": [
    "react"
  ]
}
